* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

/* clearfix */
.clrfx::after, .row::after {
    display: table;
    content: "";
    clear: both;
}

.fl {
    float: left;
}
.fl-r {
    float: right;
}

.white-text {
    color: #fff;
}

.button a {
    display: inline-block;
    background: #fff;
    color: #000;
    text-decoration: none;
}
.button a:hover {
    background: #000;
    color: #fff;: 
}

/* ------------------- */

header {
    background: url(../img/jumbo.png) 50% 50%;
    background-size: cover;
    height: 400px;
}

nav {
    height: 60px;
    line-height: 60px;
    position: relative;
}
nav > * {
    display: inline-block;
}

nav .logo-container img {
    vertical-align: middle;
}

nav ul {
    list-style: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}
nav ul li {
    display: inline-block;
}
nav ul a {
    text-decoration: none;
    padding: 0 10px;
    color: #fff;
    font-size: 12px;
}

.button.small a {
    font-size: 12px;
    line-height: 25px;
    padding: 3px 10px;
    border-radius: 15px;
}

.jumbotron {
    text-align: center;
    padding: 30px 90px;
}

.jumbotron h1 {
    margin: 20px;
    font-size: 50px;
}
.jumbotron p {
    text-align: center;
    line-height: 30px;
}

.button.big {
    display: inline-block;
    margin: 20px 10px;
    line-height: 40px;
    padding: 5px 15px;
}
.button.big a {
    line-height: 35px;
    padding: 5px 15px;
    border-radius: 20px;
}

.img-container {
    width: 60%;
    padding: 60px 10px 60px 0;
}
.img-container img {
    width: 100%;
}

.row .text-container{
    width: 40%;
    padding-left: 30px;
    padding: 75px;
}

.row .text-container h2 {
    font-size: 40px;
    padding-bottom: 20px;
}